* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./images/imgtemp.png);
    background: blue;
    color: white;
}

/* body:hover {
    background-color: red;
} */

.d {
    color: aquamarine;
}

.case {
    color: brown;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 5vh;
    margin-top: 5vh;
    justify-content: center;
    /* align-items: center; */
}

a {
    color: green;
    color: purple;
    color: white;
}

h2 {
    position: absolute;
    /* top: 1vh; */
    line-height: 195px;
    margin-left: 2.5%;
    font-size: 50px;
}

h2:hover {
    margin-top: -3px;
    transition: 1s;
    color: blue;
    /* color: black; */
    scale: 0.8;
    /* transition: 1s; */
}

img:hover {
    scale: 0.95;
    transition: 1s;
}

img {
    width: 266px;
    height: 195px;
}